<%= content_for :title, "Phrase usage data for phrase '#{@phrase.phrase_text}'" %>

<%= render "govuk_publishing_components/components/back_link", {
    href: phrase_path(@phrase)
} %>

<span class="govuk-caption-xl">'<%= @phrase.phrase_text %>'</span>
<h1 class="govuk-heading-xl">How users used this phrase</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="text-group">
      <p class="govuk-body">Showing data from 1st to 7th April 2020</p>

      <% @presenter.items.each do |answer| %>
        <%= render "govuk_publishing_components/components/inset_text", {
            text: raw(highlighted_survey_answer_html(answer.answer, @phrase.phrase_text))
        } %>
      <% end %>
    </div>

    <%= render "govuk_publishing_components/components/previous_and_next_navigation", navigation_links(@presenter) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">About the data</h3>
    <p class="govuk-body">Source: User intent survey data</p>
  </div>
</div>
