<%= content_for :title, "Content detail page - #{@presenter.title}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Page with feedback from</span>
    <h3 class="govuk-heading-xl"><%= @presenter.title %></h3>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-font-size-24">This is a summary of how and where this generic phrase has been used.</p>
  </div>
</div>


<%= render "govuk_publishing_components/components/warning_text", {
    text: "Content trigger warning. Some feedback can be distressing."
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h4 class="govuk-heading-s"><%= human_readable_date_range(from_date_as_datetime, to_date_as_datetime) %></h4>
      </div>
    </div>

    <%= form_with(url: page_path(base_path: @presenter.url_friendly_base_path), method: "get") do %>
      <%= render "components/date_filter", submit_button: true %>
    <% end %>

    <hr>

    <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-full">
        <%= render "govuk_publishing_components/components/contents_list", {
          format_numbers: true,
          contents: [
            {
              href: "#number-of-feedback-comments",
              text: "1. Number of feedback comments"
            },
            {
              href: "#top-generic-phrases",
              text: "2. Top generic phrases"
            },
            {
              href: "#users-identify-themselves-as",
              text: "3. Users identify themselves as"
            },
            {
              href: "#devices-used-to-give-feedback",
              text: "4. Devices used to give feedback"
            },
            {
              href: "#user-feedback-from-user-intent-survey",
              text: "5. User feedback from user intent survey"
            },
            {
              href: "#where-do-users-come-from",
              text: "6. Where do users come from?"
            },
            {
              href: "#what-do-users-do-next",
              text: "7. What do users do next?"
            },
            {
              href: "#searches-from-page",
              text: "8. Searches from page"
            },
          ]
        } %>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m" id="number-of-feedback-comments">Number of feedback comments</h3>
        <p class="govuk-body statistic-total"><%= number_with_delimiter(@presenter.total_survey_counts) %></p>
        <%= line_chart @presenter.survey_counts, library: { curveType: "none" }, defer: true %>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-4">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m" id="top-generic-phrases">Top generic phrases</h3>
        <%= render "govuk_publishing_components/components/table", {
          head: [
            {
              text: "Generic phrase"
            },
            {
              text: "Number mentions",
              format: "numeric"
            },
          ],
            rows: @presenter.top_generic_phrases_rows
        } %>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-4">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m" id="users-identify-themselves-as">Users identify themselves as</h3>
        <%= render "govuk_publishing_components/components/table", {
          head: [
            {
              text: "User group"
            },
            {
              text: "Number mentions",
              format: "numeric"
            },
          ],
          rows: @presenter.top_user_groups_rows
        } %>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-full">
      <h3 class="govuk-heading-m" id="devices-used-to-give-feedback">Devices used to give feedback</h3>
      <%= render "govuk_publishing_components/components/table", {
        head: [
          {
            text: "Device"
          },
          {
            text: "Percentage",
            format: "numeric"
          },
        ],
        rows: @presenter.devices_rows
      } %>
    </div>
  </div>

    <div class="govuk-grid-row govuk-!-margin-top-4">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m" id="user-feedback-from-user-intent-survey">User feedback from user intent survey</h3>
        <%= render "govuk_publishing_components/components/warning_text", {
            text: "Content trigger warning. Some feedback can be distressing."
        } %>

        <% @presenter.survey_answer_text.each do |survey_answer| %>
          <%= render "govuk_publishing_components/components/inset_text", {
              text: survey_answer
          } %>
        <% end %>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-4">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m" id="where-do-users-come-from">Where do users come from?</h3>
        <%= render "govuk_publishing_components/components/table", {
          head: [
            {
              text: "Page title"
            },
            {
              text: "Number of unique visitors",
              format: "numeric"
            },
          ],
          rows: @presenter.top_visits_last_page_rows
        } %>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-4">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m" id="what-do-users-do-next">What do users do next?</h3>
        <%= render "govuk_publishing_components/components/table", {
          head: [
            {
              text: "Page title"
            },
            {
              text: "Number of unique visitors",
              format: "numeric"
            },
          ],
          rows: @presenter.top_visits_next_page_rows
        } %>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-4">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m" id="searches-from-page">Searches from page</h3>
        <%= render "govuk_publishing_components/components/table", {
          head: [
            {
              text: "Search term"
            },
            {
              text: "Number of on-page searches",
              format: "numeric"
            },
          ],
          rows: [
              [
                  {
                      text: "Coronavirus",
                  },
                  {
                      text: 123,
                      format: "numeric",
                  },
              ],
              [
                  {
                      text: "Self isolation",
                  },
                  {
                      text: "110",
                      format: "numeric",
                  },
              ],
              [
                  {
                      text: "how do i register as vulnerable for food delivery",
                  },
                  {
                      text: "105",
                      format: "numeric",
                  },
              ],
              [
                  {
                      text: "how do i register as vulnerable",
                  },
                  {
                      text: "105",
                      format: "numeric",
                  },
              ],
              [
                  {
                      text: "registration for online shopping",
                  },
                  {
                      text: "105",
                      format: "numeric",
                  },
              ],
              [
                  {
                      text: "self employed for 13 months",
                  },
                  {
                      text: "101",
                      format: "numeric",
                  },
              ],
              [
                  {
                      text: "register",
                  },
                  {
                      text: "89",
                      format: "numeric",
                  },
              ],
              [
                  {
                      text: "esa claim forms",
                  },
                  {
                      text: "63",
                      format: "numeric",
                  },
              ],
              [
                  {
                      text: "contact options for universal credit",
                  },
                  {
                      text: "42",
                      format: "numeric",
                  },
              ],
              [
                  {
                      text: "sign in universal credit",
                  },
                  {
                      text: "12",
                      format: "numeric",
                  },
              ]
          ]
        } %>
      </div>
    </div>

  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-grid-column--background-light-grey govuk-!-padding-4">
      <%= link_to("View it on GOV.UK", "https://www.gov.uk#{@presenter.base_path}", :target => "_blank", class: "govuk-link" ) %>
    </div>
    <div class="govuk-grid-column--background-light-grey govuk-!-padding-4 govuk-!-margin-top-4">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h4 class="govuk-heading-s">Last updated at</h4>
          <p class="govuk-body"><%= @presenter.public_updated_at %></p>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h4 class="govuk-heading-s">Organisation</h4>
          <p class="govuk-body"><%= @presenter.organisation %></p>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h4 class="govuk-heading-s">Document type</h4>
          <p class="govuk-body"><%= @presenter.document_type %></p>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h4 class="govuk-heading-s">URL</h4>
          <%= link_to("gov.uk#{@presenter.base_path}", "https://www.gov.uk#{@presenter.base_path}", :target => "_blank", class: "govuk-link" ) %>
        </div>
      </div>
    </div>
  </div>
</div>
