<%= content_for :title, "Mentions data for phrase '#{@phrase.phrase_text}'" %>

<%= render "govuk_publishing_components/components/back_link", {
    href: phrase_path(@phrase)
} %>

<span class="govuk-caption-xl">'<%= @phrase.phrase_text %>'</span>
<h1 class="govuk-heading-xl">Number of mentions</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="chart-group">
      <span class="govuk-caption-m">Showing data from 1st to 7th April 2020</span>
      <p class="govuk-body statistic-total"><%= number_with_delimiter(total_mentions(@mentions)) %></p>
    </div>

    <%= line_chart map_mentions_data_to_chart(@mentions), library: { curveType: 'none' }, defer: true %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="table-group">
      <%= render "govuk_publishing_components/components/table", {
          head: [
              {
                  text: "Day"
              },
              {
                  text: "Number of mentions",
                  format: "numeric"
              }
          ],
          rows: map_mentions_data_to_table(@mentions)
      } %>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">About the data</h3>
    <p class="govuk-body">Source: User intent survey data</p>
  </div>
</div>
