<%= form_with(url: "/summary", method: "get") do %>
  <%= render "govuk_publishing_components/components/search", {
      inline_label: false,
      label_text: sanitize("<h1>Search pages by URL</h1>"),
      value: params[:q]
  } %>
<% end %>

<%= render "govuk_publishing_components/components/heading", {
    text: "#{@presenter.pagination.total_items} results",
    padding: true,
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <%= render "govuk_publishing_components/components/table", {
        sortable: true,
        head: get_table_headers,
        rows: map_content_pages_to_table
    } %>

  </div>
</div>

<%= render "govuk_publishing_components/components/previous_and_next_navigation", navigation_links %>