<%= render "govuk_publishing_components/components/back_link", {
    href: phrase_path(@phrase)
} %>

<span class="govuk-caption-xl"><%= @phrase.phrase_text %></span>
<h1 class="govuk-heading-xl">Number of mentions</h1>

<p class="govuk-body govuk-!-margin-bottom-7">Last updated 6 April 2020 9:04am</p>

<p class="govuk-body govuk-!-margin-bottom-7">THIS IS PLACEHOLDER TEXT. Users that had at least one mention of
  'have asthma' in their user intent survey answers.</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="chart-group">
      <span class="govuk-caption-m">In the past 7 days</span>
      <p class="govuk-body statistic-total"><%= number_with_delimiter(@total_mentions) %></p>
    </div>

    <%= line_chart map_mentions_data_to_chart(@mentions_by_day), library: { curveType: 'none' }, defer: true %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="table-group">
      <%= render "govuk_publishing_components/components/table", {
          head: [
              {
                  text: "Day"
              },
              {
                  text: "Number of mentions",
                  format: "numeric"
              }
          ],
          rows: map_mentions_data_to_table(@mentions_by_day)
      } %>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">Download this data</h3>
    <p class="govuk-body"><%= link_to "CSV. 8MB in download size.", "/download" %></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">About the data</h3>
    <p class="govuk-body">THIS IS PLACEHOLDER TEXT. EXPLAIN WHAT THE DATA IS, WHAT IS IT COMMUNICATING AND HOW TO INTERPRET IT AND USE IT
      IN THE CONTEXT OF CONTENT DESIGN. This represents the number of visits in which the page was viewed at least once.
      For example, if a user visits the same page 5 times during their browsing session, it will show up as 1 unique
      pageview.</p>
    <p class="govuk-body">You can share this data publicly</p>
    <p class="govuk-body">Source: Google Analytics</p>
  </div>
</div>
