<% content_for :head do %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

  <% if ENV["GOOGLE_TAG_MANAGER_ID"] %>
    <%= render "govuk_publishing_components/components/google_tag_manager_script", {
      gtm_id: ENV["GOOGLE_TAG_MANAGER_ID"],
      gtm_auth: ENV["GOOGLE_TAG_MANAGER_AUTH"],
      gtm_preview: ENV["GOOGLE_TAG_MANAGER_PREVIEW"],
    } %>
  <% end %>
<% end %>

<%= render 'govuk_publishing_components/components/layout_for_admin',
  {
    environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
    product_name: "Intent and Feedback Tool",
    browser_title: yield(:browser_title).presence || yield(:title)
  } do %>

  <%= render "govuk_publishing_components/components/skip_link", {} %>

  <%= render "govuk_publishing_components/components/layout_header", {
    environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
    product_name: "Intent and Feedback Tool"
  }%>

  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          alpha
        </strong>
        <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://forms.gle/ZfmD3ouyBNbGVBGT9">feedback</a> will help us to improve it.
    </span>
      </p>
    </div>

    <main class="govuk-main-wrapper" id="main-content" role="main">
      <%= yield %>
    </main>
  </div>

  <%= render "govuk_publishing_components/components/layout_footer" %>

<% end %>
